/*preset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #000
}

/*columns*/
.fullcontainer {
	display: flex;
}

.container {
	max-width: 950px;
	margin: 0 auto;
	display: flex;
}

.rfullcontainer {
	display: flex;
	flex-direction: row-reverse;
}

.sper {
	border-bottom: 2px solid #c7d8d8;
	padding-bottom: 30px;
}

.rcontainer {
	max-width: 950px;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
}

.c100 {
	width: 100%;
}

.c75 {
	width: 75%;
}

.c732 {
	width: 73.2%;
}

.c66 {
	width: 66.666667%;
}

.c50 {
	width: 50%;
}

.c33 {
	width: 33.333333%;
}

.c267 {
	width: 26.7%;
}

.c25 {
	width: 25%;
}

.c125 {
	width: 12.5%;
}

.c16{
	width: 16.666666%;
}

/*nav*/
header {
	border-bottom: 0px solid #c7d8d8;
	position: relative;
	background: #d9e8e8;
	height: 70px;
}

header h1 {
	margin: 0;
}

#logo {
	/*font-family: palatino;
	font-weight: normal;
	text-decoration: none;
	color: #aaa;*/
	padding-top: 15px;
	padding-left: 10px;
	display: inline-block;
	width: 260px;
	position: absolute;
	right: 10px;
}

.nameimg {
	width: 70%;
	height: 70%;
}

/*#logo:hover {
	color: black;
}*/

#mb {
	display: none;
}

nav {
	position: absolute;
	top: 0px;
	left: 0px;

}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	text-decoration: none;
	display: inline-block;
	border: 0px solid #31869e;
	color: #31869e;
	padding: 19px 15px;
	padding-top: 22px;
	border-radius: 0px;
	height: 
}

nav a:hover {
	border: 0px solid #004242;
	color: #004242;
	background: #efefef;
}

/*common*/

.vh {
	height:;
}

.hightcontrol{
	height: 400px;
	width: auto
}

img {
	width: 100%;
}

.apptitle {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.applogo {
	height: 120px;
	width: auto;
}

.smlogo {
	height: 60px;
	width: auto;
}

.sspt{
	padding-top: 50px;
}

.tc {
	text-align: center;
}

.btn {
	text-decoration: none;
	display: inline-block;
	border: 1px solid #000;
	color: #000;
	padding: 5px 15px;
	border-radius: 1px;
	margin-top: 5px;
}

.btnvps{
	margin-top: 0px;
}

header ul li a img {
	height: 25px;
}

.imhome {
	width: 75px;
}

.import {
	width: 150px;
}

.imcontact {
	width: 140px;
}

.btn:hover {
	border: 1px solid #000;
	color: #000;
	border-radius: 2px;

}

.a1 {
	background: #c5f8ff;
}

.a2 {
	background: #d9e8e8;
	min-height: 140px;
}

.p5 {
	padding: 5px 0px;
}

.p10 {
	padding: 10px;
}

.p10ho {
	padding: 10px 0px;
}

.p30 {
	padding: 30px 0px;
}

.p50 {
	padding: 50px;
}

.p50ho {
	padding: 50px 0px;
}

.p100 {
	padding: 100px 0px;
}

/*type*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial;
}

h4{
	font-weight: normal
}

h1 {
	font-weight: normal;
	font-size: 40px;
	margin: 5px 0;
}

footer p {
	font-size: 10px;
}

.pagetitle {
	height: 40px;
}

.catag {
	height: 30px;
}

.oa{
	position: fixed;
	top: 0;
	z-index: -100000;
	height: 100%;
	width: 100%;
	opacity: 0.4;
}

/*Dropdown menu or secondary menu*/
.dropbtn {
	background-color: rgba(199l, 216, 216, 0.7);
	color: white;
	font-size: 16px;
	border: none;
	position: fixed;
	top: 250px;
	right: 10px;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 0px solid #33869e;
	opacity: 0.7;
	border-radius: 25px
}

.dropbtn img{
	width: 25px;
	height: 25px;
}

.dropdown {
	position: relative;
	z-index: 1;
	height: 0;
}

.dropdown-content {
	display: none;
	position: fixed;
	right: 10px;
	top: 285px;
	background-color: #d9e8e8;
	width: 40px;
	border: 0px solid #33869e;
	opacity: 0.7;
	border-radius: 25px

}

.dropdown-content a {
	text-align: center;
	color: black;
	text-decoration: none;
	display: block;
	padding-top: 10px;
	height: 40px;
	border: 0px solid #33869e;
	border-radius: 30px;

}

.dropdown-content a img {
	height: 17px
}

.dropdown-content a:hover {
	background-color: #fff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #fff;
}

.tp {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #000;
	background: rgba(255, 255, 255, 0);
}




@media screen and (max-width:750px) {

	.container,
	.rcontainer,
	.fullcontainer,
	.rfullcontainer {
		display: block;
	}

	.c100,
	.c75,
	.c66,
	.c50,
	.c33,
	.c25,
	.c732,
	.c267,
	.c125,
	.c16{
		width: 100%;
	}

	
	
	nav a {
	text-decoration: none;
	display: inline-block;
	border: 0px solid #31869e;
	color: #31869e;
	padding: 22px 5px;
	padding-top: 26px;
	border-radius: 0px;
	height: 
}
	
	
	.nameimg {
		width: 40%
	}

	header ul li a img {
		height: 18px;
	}

	.imhome {
		width: 65px;
	}

	.import {
		width: 134px;
	}

	.imcontact {
		width: 130px;
	}
	
		.hightcontrol{
		height: auto;
		width: 90vw;
	
}




@media screen and (max-width:600px) {
	.oa{
		width: 500px;
		height: 500px;
	}
	
	.vh {
		height: auto;
	}

	nav {
		position: relative;
		background: #d9e8e8;
		padding: 2px;
		right: 0px;
		top: 10px
	}

	nav ul {}

	nav li {
		display: block;
		border-bottom: 1px solid #fff;
	}

	header ul li a img {}

	nav a {
		width: 100%;
		border: none;
	}

	nav a:hover {
		width: 100%;
		border: none;
		background: white;
	}

	#mb {
		display: block;
		position: relative;
		left: 10px;
		top: 6px;
		color: #32869e;
		padding: 1px;
		border: 0px solid #f00;
		background: #d9e8e8;
		font-size: 30px;
	}

	#logo {
		width: 150px;
		padding-top: 0px;
	}

	.nameimg {
		width: 50%
	}

	.container,
	.rcontainer {
		padding: 0px 15px;
	}

	header ul li a img {
		height: 20px;
	}

	.imhome {
		width: 65px;
	}

	.import {
		width: 134px;
	}

	.imcontact {
		width: 130px;
	}
}


